@page "/about"

@* <h2 class="mt-1 mb-5">Noisy Beirut</h2> *@

<img class="d-flex justify-content-center m-auto" src="assets/images/logo_withtext_500.png" height="256"/>



<h4>
    <strong>1. Background</strong>
</h4>
<p>
    Noisy Beirut is a grassroots initiative organized in Beirut, Lebanon to measure noise pollution in the Mar Mkhael district. 
Many families living in the district are not able to sleep at night due to the high level of music and the general disturbance caused by a 
number of bars and nightclubs in the area.
</p>

<h4>
    <strong>2. Legal Permissible Level</strong>
</h4>
<p>
    The legal level of noise exposure for bars in Mar Mkhael is 55 dBA as per the Governor of Beirut’s Circular Number 4430/2022.
</p>

<h4>
    <strong>3. Measurement</strong>
</h4>
<p>
    It’s important to note that all sensors have been installed on the balconies of families in the neighborhood so actual noise exposure at the source (i.e. bar or night club) is much higher. 

For example, at a distance of 10 meters a noise exposure of 55 dBA corresponds to a noise level of 75 dBA at 1 meter from the source. You can use <a target="_blank" href="https://www.herramientasingenieria.com/onlinecalc/noise_distance/noise_distance.html">this website</a> to calculate values for different distances. 

</p>

<h4>
    <strong>4. Sensors:</strong>
</h4>
<p>
    Below you can find more details about the 5 different sensors’ coverage areas including height from the main street:

    <ul>
      <li>Zone 1: On Armenia Street facing Crew Hut (height 10 meters)</li>
      <li>Zone 2: Off Armenia Street behind Crew Hut (height 10 meters)</li>
      <li>Zone 3: On Armenia Main Street near Electricité du Liban (height 5 meters)</li>
      <li>Zone 4: On Armenia Main Street near Civil Defense Headquarters (height 10 meters)</li>
      <li>Zone 5: On Armenia Main Street near Starbucks Mar Mkhael (height 50 meters) </li>
    </ul>

</p>


<p class="my-3">For more information you can message <strong>@@nationofjoulz</strong> on Instagram at  <a target="_blank" href="https://www.instagram.com/nationofjoulz/">https://www.instagram.com/nationofjoulz/</a></p>

