@page "/"
@inject IJSRuntime jsRuntime


<PageTitle>Home</PageTitle>

@* <MudLink Href="dashboard">
    <MudCard>
        <MudCardContent>
            <div class="text-center">
                <MudText>Dashboard</MudText>
                <i class="bi bi-bar-chart me-2" style="font-size: 3.3rem;"></i>
            </div>

        </MudCardContent>
    </MudCard>
</MudLink>

<MudLink Href="sounds">
    <MudCard  Class="mt-5">
        <MudCardContent>
            <div class="text-center">
                <MudText>Data</MudText>
                <i class="bi bi-table me-2" style="font-size: 3.3rem;"></i>
            </div>

        </MudCardContent>
    </MudCard>
</MudLink> *@


@if(!mobile) {

        <iframe title="Sound Pollution" width="600" height="800" src="https://app.powerbi.com/view?r=eyJrIjoiYjliZTIzMTQtNGRjYi00ZTI4LTkxMjQtYmE3MjViNGZjZjk5IiwidCI6ImI5OWZjMmY2LWQ2NWUtNGI0OC05MzViLTExODY1OTA5N2RhNyIsImMiOjl9" frameborder="0" allowFullScreen="true"></iframe>
   

}
else {
    <iframe title="Sound Pollution" width="600" height="800" src="https://app.powerbi.com/view?r=eyJrIjoiYjliZTIzMTQtNGRjYi00ZTI4LTkxMjQtYmE3MjViNGZjZjk5IiwidCI6ImI5OWZjMmY2LWQ2NWUtNGI0OC05MzViLTExODY1OTA5N2RhNyIsImMiOjl9&pageName=ReportSection25c91e6ae8dbd866787c" frameborder="0" allowFullScreen="true"></iframe>
}

@code {
    private string isDevice { get; set; }
    private bool mobile { get; set; }
    

    protected override async Task OnInitializedAsync()
    {
        await FindResponsiveness();
    }

    public async Task FindResponsiveness()
    {
        mobile = await jsRuntime.InvokeAsync<bool>("isDevice");
        isDevice = mobile ? "Mobile" : "Desktop";
        

    }
}