@page "/"

<PageTitle>Home</PageTitle>

<MudLink Href="dashboard">
    <MudCard>
        <MudCardContent>
            <div class="text-center">
                <MudText>Dashboard</MudText>
                <i class="bi bi-bar-chart me-2" style="font-size: 3.3rem;"></i>
            </div>

        </MudCardContent>
    </MudCard>
</MudLink>

<MudLink Href="sounds">
    <MudCard  Class="mt-5">
        <MudCardContent>
            <div class="text-center">
                <MudText>Data</MudText>
                <i class="bi bi-table me-2" style="font-size: 3.3rem;"></i>
            </div>

        </MudCardContent>
    </MudCard>
</MudLink>