<div class="top-row ps-3 navbar navbar-white">
    <div class="container-fluid">
        <div class="d-flex text-center" ><div class="w-32 h-32 d-flex text-center justify-content-center me-2">
                <img src="assets/images/logo_500.png"/>
        </div>
        
        <a class="navbar-brand font-semibold ms-1" href="" >Noisy Beirut</a></div>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon">
                <i class="@NavBarIcon" style="font-size: 2rem;"></i>
            </span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sounds" Match="NavLinkMatch.All">
                <i class="bi bi-table me-2" style="font-size: 1.3rem;"></i>
                Sounds
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dashboard" Match="NavLinkMatch.All">
                <i class="bi bi-bar-chart me-2" style="font-size: 1.3rem;"></i>
                Dashboard
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private string NavBarIcon => collapseNavMenu ? "bi bi-list" : "bi bi-x-lg";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
